<div class="resultpage" id="resultpage" style="overflow: auto;">
    <!-- 
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script>
        window.onload = function(){
            //addwindownum
            function changewindow(window){
                for(let i = 1; i <= windownum;i++)
                {
                    $('.window'+String(i)).css('display','none');
                }
                $(window).css('display','block');
            }
            //addjs
        }
    </script>
    <style>
        img {
            width: 100% !important;
            height: 100% !important;
        }
        * { box-sizing: border-box; }

        textarea {
            resize:none;
        }
        button {
            resize:none;
        }
        div {
            resize:none;
        }
    </style> -->
    <div class="window1" style="bottom: 0;right: 0;width: 100%;height: 100%;margin: 0;display: block;">
        
    </div>
</div>

